<div>
  <p *ngFor="let usuario of listUsuarios">
    {{usuario.idUsuario}} - {{usuario.nombre}} - {{usuario.apellido}} - {{usuario.estado}}
  </p>
</div>
<div>
  <img [src]="imagenURL">
  <button [class.activo]="activedButton" [disabled]="activedButton" (click)="desactivarBoton(true)">Boton</button>
</div>
<div>
    <button [style.backgroundColor]="activedButton ? 'green':'red'" (click)="desactivarBoton(true)">Style binding</button>
</div>

<button (mouseover)="mostrarEvento($event)">Event Binding</button>
<button (keyup.enter)="mostrarEvento($event)">Event Filtering</button>
<router-outlet></router-outlet>
